<div class="x_panel">
  <div class="x_title">
    <h2>Δημιουργία Υπηρεσίας</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <%= bootstrap_form_for :service, url: {controller: 'services', action: 'create'} do |f| %>
      <%= f.text_field :name, label: 'Όνομα' %>
      <%= f.text_area :description, label: 'Περιγραφή' %>
      <%= f.number_field :price, label: 'Τιμή',
                         class: :text_field,
                         step: :any %>
      <%= f.form_group do %>
        <%= f.primary 'Δημιουργία' %>
      <% end %>
    <% end %>
  </div>
</div>
