<div class="x_panel">
  <div class="x_title">
    <h2 id="dd">Προσθήκη Υπηρεσιών και Προϊόντων</h2>
    <h2 class="pull-right green sum">0€</h2>

    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <%= bootstrap_form_tag url: dashboard_index_path, html: {id: 'add_product_service_form'} do |form| %>
      <%= form.select(:customer_id, @customers.pluck(:name, :id),
                      {label: 'Επιλέξτε Πελάτη', :prompt => 'Δεν έχει επιλεγεί κάποιος'},
                      {class: 'selectpicker form-control', 'data-live-search' => 'true', :required => ''}) %>
      <div class="col-sm-9" style="padding: 25px">
        <%= form.check_box :student_discount, label: 'Φοιτητική έκπτωση',
                           class: 'js-switch' %>
      </div>

      <%= form.number_field :discount, label: 'Έκπτωση',
                            data: {toggle: 'tooltip'},
                            title: 'αφήστε κενό για ποσότητα ίση με ένα',
                            min: '0', max: '100',
                            wrapper: {class: 'col-sm-3'} %>

      <%= form.select(:partner_id, @partners.pluck(:name, :id),
                      {label: 'Επιλέξτε Συνεργάτη', :prompt => 'Δεν έχει επιλεγεί κάποιος'},
                      {class: 'selectpicker form-control', 'data-live-search' => 'true', :required => ''}) %>
      <%= datepicker_input(form, :created_at) %>

      <hr>
      <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
          <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div id="add_service" class="col-sm-1 navbar-right">
              <div class="round round-sm hollow blue">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
            </div>
            <h4 class="panel-title">Υπηρεσίες</h4>
          </a>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <div id="new_services"></div>
            </div>
          </div>
        </div>
        <div class="panel">
          <a class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <div id="add_product" class="col-sm-1 navbar-right">
              <div class="round round-sm hollow blue">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
            </div>
            <h4 class="panel-title">Προϊόντα</h4>
          </a>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <div id="new_products"></div>
            </div>
          </div>
        </div>
      </div>


      <script>
          $('#add_product').click(function () {
              $('#new_products').append("<%= escape_javascript (render partial: 'dashboard/product_form', locals: {form: form} ,remote: true) %>");
          });
          $('#add_service').click(function () {
              $('#new_services').append("<%= escape_javascript (render partial: 'dashboard/service_form', locals: {form: form} ) %>");
          });
      </script>

      <%= form.form_group do %>
        <%= form.primary 'Προσθήκη' %>
        <h2 class="pull-right green sum">0€</h2>
      <% end %>
      </div>

    <% end %>
    </div>

