<div class="x_panel">
  <div class="x_title">
    <h2 id="dd">Add Products and Services</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">


    <%= bootstrap_form_tag url: dashboard_index_path do |form| %>
      <%= form.select(:customer_id, @customers.collect {|p| [p.name, p.id]}, {include_blank: true}, {class: 'selectpicker', 'data-live-search' => 'true'}) %>
      <hr>
      <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
          <a class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div id="add_service" class="col-sm-1 navbar-right">
              <div class="round round-sm hollow blue">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
            </div>
            <h4 class="panel-title">Services</h4>
          </a>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <div id="new_services"></div>
            </div>
          </div>
        </div>
        <div class="panel">
          <a class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <div id="add_product" class="col-sm-1 navbar-right">
              <div class="round round-sm hollow blue">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
            </div>
            <h4 class="panel-title">Products</h4>
          </a>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <div id="new_products"></div>
            </div>
          </div>
        </div>
      </div>


      <script>

          $('#add_product').click(function (event) {
              event.stopPropagation();
              $('#new_products').append("<%= escape_javascript (render partial: 'dashboard/product_form', locals: {form: form} ) %>");
          });
          $('#add_service').click(function (event) {
              event.stopPropagation();
              $('#new_services').append("<%= escape_javascript (render partial: 'dashboard/service_form', locals: {form: form} ) %>");
          });
          $('.selectpicker').selectpicker();


      </script>

      <%= form.submit class: "btn btn-success" %>
    <% end %>


  </div>
</div>




