<div class="x_panel">
  <div class="x_title">
    <h2 id="dd">Προσθήκη Υπηρεσιών και Προϊόντων</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <%= bootstrap_form_tag url: dashboard_index_path do |form| %>
      <%= form.select(:customer_id, @customers.pluck(:name, :id),
                      {label: 'Επιλέξτε Πελάτη', :prompt => 'Δεν έχει επιλεγεί κάποιος'},
                      {class: 'selectpicker form-control', 'data-live-search' => 'true', :required => ''}) %>
      <%= form.select(:partner_id, @partners.pluck(:name, :id),
                      {label: 'Επιλέξτε Συνεργάτη', :prompt => 'Δεν έχει επιλεγεί κάποιος'},
                      {class: 'selectpicker form-control', 'data-live-search' => 'true', :required => ''}) %>
      <%= datepicker_input(form, :created_at) %>


      <hr>
      <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
          <a class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div id="add_service" class="col-sm-1 navbar-right">
              <div class="round round-sm hollow blue">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
            </div>
            <h4 class="panel-title">Υπηρεσίες</h4>
          </a>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <div id="new_services"></div>
            </div>
          </div>
        </div>
        <div class="panel">
          <a class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <div id="add_product" class="col-sm-1 navbar-right">
              <div class="round round-sm hollow blue">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
            </div>
            <h4 class="panel-title">Προϊόντα</h4>
          </a>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <div id="new_products"></div>
            </div>
          </div>
        </div>
      </div>

      <script>
          $('#add_product').click(function (event) {
              event.stopPropagation();
              $('#new_products').append("<%= escape_javascript (render partial: 'dashboard/product_form', locals: {form: form} ) %>");
          });
          $('#add_service').click(function (event) {
              event.stopPropagation();
              $('#new_services').append("<%= escape_javascript (render partial: 'dashboard/service_form', locals: {form: form} ) %>");
          });
          $('.selectpicker').selectpicker();
          $('.input-group.date').datetimepicker({
              format: 'DD/M/YYYY HH:mm',
              locale: 'el',
              allowInputToggle: true,
              showClose: true
          });
      </script>

      <%= form.form_group do %>
        <%= form.primary 'Προσθήκη' %>
      <% end %>
    <% end %>
  </div>
</div>




