<table id="datatable-check" class="table">
  <thead>
  <tr class="headings">
    <th class="column-title">Name</th>
    <th class="column-title">Description</th>
    <th class="column-title">Price</th>
    <th class="column-title">Actual Price</th>
  </tr>
  </thead>
  <tbody>
  <% @records.each {|record| %>
    <tr id="<%= record.id %>">
      <%= row(record.name) %>
      <%= row(record.description) %>
      <%= row(record.price) %>
      <%= row(f.number_field :price, label: 'Price') %>
    </tr>
  <% } %>
  </tbody>
</table>

<script>
    $(document).ready(function () {
        var selected = [];
        let table = $('#datatable-check').DataTable({
            "bLengthChange": false,
            "dom": '<f<t>p>',
        });

        $('#datatable-check tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });

        $('#button').click(function () {
            alert(table.rows('.selected').ids().toArray());
        });


        $('.dropdown-menu').on('click', function (e) {
            if ($(this).hasClass('dropdown-menu-form')) {
                e.stopPropagation();
            }
        });

        $('#ps_form').submit(function () {
            var input = $("<input>").attr({
                "type": "hidden",
                "name": "uids"
            }).val(table.rows('.selected').ids().toArray());
            $('#ps_form').append(input);
        });

    });


</script>

