<div class="x_panel">
  <div class="x_title">
    <h2>Υπηρεσίες</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table id="datatable-customer_services" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Όνομα</th>
        <th>Υπηρεσία</th>
        <th>Συνεργάτης</th>
        <th>Ποσότητα - Τιμή</th>
        <th>Σχόλιο</th>
        <th>Ημ/Ώρα</th>
        <th>Διαγραφή</th>

      </tr>
      </thead>
      <tbody>
      <% @customer_services.each {|record| %>
        <tr>
          <%= row(record.customer.name) %>
          <%= row(record.service.to_s_name_description) %>
          <%= row(record.partner.to_s) %>
          <%= row_with_tooltip(record.amount_price,
                               record.price_tooltip,
                               "data-sort='#{record.total_paid}'") %>
          <%= row(record.comment) %>
          <%= row_with_tooltip(record.created_at_s,
                               time_ago_in_words(record.created_at),
                               "data-sort='#{record.created_at}'") %>
          <%= delete_row(destroy_customer_service_path(record)) %>

        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>

<script>
    $('#datatable-customer_services').DataTable({
        "order": [4],
        "columnDefs": [
            {"width": "50px", "targets": [5], "orderable": false, "className": "text-center"}
        ],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Greek.json"
        }
    });
</script>









