<div class="panel-body">
  <%= form.fields_for 'customer_services[]', CustomerService.new do |c| %>
    <a class="more_fields_toggle pull-right"><i class="glyphicon glyphicon-chevron-down"></i></a>
    <%= c.select(:service_id, @services.collect {|p| [p, p.id, data: {'price': p.price}]},
                 {label: 'Επιλέξτε Υπηρεσία', :prompt => 'Δεν έχει επιλεγεί κάποια'},
                 {class: 'selectpicker in_price', 'data-live-search' => 'true'}) %>

    <div class="more_fields" style="display: none;">
      <%= c.select(:partner_id, @partners.pluck(:name, :id),
                   {label: 'Επιλέξτε Συνεργάτη', :prompt => 'Δεν έχει επιλεγεί κάποιος'},
                   {class: 'selectpicker form-control', 'data-live-search' => 'true'}) %>
      <%= c.number_field :amount, label: 'Ποσότητα',
                         class: :amount,
                         data: {toggle: 'tooltip'},
                         title: 'αφήστε κενό για ποσότητα ίση με ένα',
                         wrapper: {class: 'col-sm-6'} %>
      <%= c.number_field :price, label: 'Τιμή',
                         class: 'text_field custom_price',
                         step: :any,
                         data: {toggle: 'tooltip'},
                         title: 'αφήστε κενό για την προκαθορισμένη τιμή',
                         wrapper: {class: 'col-sm-6'} %>
      <%= c.text_field :comment, label: 'Σχόλιο' %>
    </div>

  <% end %>
</div>