<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title">
        <%= image_tag :hair_flair, class: 'img-horizontal site_img' %>
      </a>
    </div>


    <div class="navbar profile">
      <div class="profile_pic">
        <%= image_tag(current_user.avatar.url(:medium), class: "img-circle profile_img") %>
      </div>
      <div class="profile_info">
        <span>Καλωσόρισες,</span>
        <h2><%= current_user.username %></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>   <%= link_to('Αρχική σελίδα', "/") %></li>
          <li>   <%= link_to('Πελάτες', customers_path) %></li>
          <li>  <%= link_to('Υπηρεσίες', services_path) %></li>
          <li>   <%= link_to('Προϊόντα', products_path) %></li>
          <li>   <%= link_to('Έξοδα', expenses_path) %></li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <%= link_to edit_user_registration_path, :'data-placement' => 'top', :'title' => 'Ρυθμίσεις', :'data-toggle' => 'tooltip' do %>
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete, :'data-placement' => 'top', :'title' => 'Αποσύνδεση', :'data-toggle' => 'tooltip' do %>
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>
</div>

