<%= x_panel 'Υπηρεσίες', '', true do %>
  <table id="datatable-customer_services" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Όνομα</th>
      <th>Υπηρεσία</th>
      <th>Συνεργάτης</th>
      <th>Ποσότητα - Τιμή</th>
      <th>Έκπτωση</th>
      <th>Σχόλιο</th>
      <th>Ημ/Ώρα</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @customer_services.each {|record| %>
      <tr>
        <%= show_row(record.customer, record.customer.name) %>
        <%= row(record.service.to_s_name_description) %>
        <%= row(record.partner.to_s) %>
        <%= row_with_tooltip(record.amount_price,
                             record.price_tooltip,
                             "data-sort='#{record.total_paid}'") %>
        <%= row(record.discount_to_s) %>
        <%= row(record.comment) %>
        <%= row_with_tooltip(record.created_at_s,
                             time_ago_in_words(record.created_at),
                             "data-sort='#{record.created_at}'") %>
        <%= edit_row(edit_customer_service_path(record)) %>
        <%= delete_row(destroy_customer_service_path(record)) %>
      </tr>
    <% } %>
    </tbody>
  </table>
<% end %>



