<div class="x_panel">
  <div class="x_title">
    <h2>Ενημέρωση Πελάτη</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <%= bootstrap_form_for @record, url: {controller: 'customers', action: 'update'} do |f| %>
      <%= f.text_field :name, label: 'Όνομα' %>
      <%= f.select :sex, [['Γυναίκα', :woman], ['Άνδρας', :man]], {label: 'Επιλέξτε φύλο:'}, {class: 'selectpicker'} %>
      <%= f.phone_field :phone_1, label: 'Τηλέφωνο 1' %>
      <%= f.phone_field :phone_2, label: 'Τηλέφωνο 2' %>
      <%= f.text_field :comment, label: 'Σχόλιο' %>
      <%= f.form_group do %>
        <%= f.primary 'Ενημέρωση' %>
      <% end %>
    <% end %>
  </div>
</div>
<script>
    $('.selectpicker').selectpicker();
</script>