<div class="x_panel">
  <div class="x_title">
    <h2>Edit Customer</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <%= bootstrap_form_for @record, url: {controller: 'customers', action: 'update'} do |f| %>
      <%= f.text_field :name, label: 'Name' %>
      <%= f.select :sex, [['Γυναίκα', true], ['Άνδρας', false]], {label: 'Επιλέξτε φύλο:'}, {class: 'selectpicker'} %>
      <%= f.phone_field :phone_1, label: 'Phone 1' %>
      <%= f.phone_field :phone_2, label: 'Phone 2' %>
      <%= f.text_field :comment, label: 'Comment' %>
      <%= f.form_group do %>
        <%= f.primary 'Update' %>
      <% end %>
    <% end %>
  </div>
</div>
<script>
    $('.selectpicker').selectpicker();
</script>