<div class="x_panel">
  <div class="x_title">
    <h2>Υπηρεσίες</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table id="datatable-customer_services_by_customer" class="table table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Υπηρεσία</th>
        <th>Συνεργάτης</th>
        <th>Ποσότητα - Τιμή</th>
        <th>Σχόλιο</th>
        <th>Ημ/Ώρα</th>
        <th>Διαγραφή</th>

      </tr>
      </thead>
      <tbody>

      <% @customer_services.each { |record| %>
        <tr>
          <%= row(record.service.to_s_name_description) %>
          <%= row(record.partner.to_s) %>
          <%= row_with_tooltip(record.amount_price,
                               record.price_tooltip,
                               "data-sort='#{record.total_paid}'") %>
          <%= row(record.comment) %>
          <%= row_with_tooltip(record.created_at_s,
                               time_ago_in_words(record.created_at),
                               "data-sort='#{record.created_at}'") %>
          <%= delete_row(destroy_customer_service_path(record)) %>

        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>











