<div class="x_panel">
  <div class="x_title">
    <h2>Create Product</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <%= bootstrap_form_for :product, url: {controller: 'products', action: 'create'} do |f| %>
      <%= f.text_field :name, label: 'Name' %>
      <%= f.text_area :description, label: 'Description' %>
      <%= f.number_field :price, label: 'Price',
                         class: :text_field,
                         step: :any %>
      <%= f.form_group do %>
        <%= f.primary 'Create' %>
      <% end %>
    <% end %>
  </div>
</div>
