<div class="x_panel">
  <div class="x_content">
    <table id="datatable-products" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Όνομα</th>
        <th>Περιγραφή</th>
        <th>Τιμή</th>
        <th>Ενεργος</th>
        <th>Ενημέρωση</th>
        <th>Διαγραφή</th>
      </tr>
      </thead>
      <tbody>
      <% @records.each {|record| %>
        <tr>
          <%= row(record.name) %>
          <%= row(record.description) %>
          <%= row(record.price_in_euro) %>
          <%= enabled_row(toggle_enabled_product_path(record), record.enabled) %>
          <%= edit_row(edit_product_path(record)) %>
          <%= delete_row(record) %>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>

<script>
    $('#datatable-products').DataTable({
        "columnDefs": [
            {"width": "50px", "targets": [3, 4, 5], "orderable": false, "className": "text-center"}
        ],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Greek.json"
        }
    });
</script>